___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
import pandas as pd
ri = pd.read_csv('police.csv', nrows=50000)
drop_columns=["state", "county_name", "county_fips", "fine_grained_location"]
ri.drop(drop_columns, axis='columns', inplace=True)
ri.dropna(subset=['driver_gender'], inplace=True)
ri['is_arrested'] = ri.is_arrested.astype('bool')
combined = ri.stop_date.str.cat(ri.stop_time, sep=' ')
ri['stop_datetime'] = pd.to_datetime(combined)
ri.drop(["stop_date", "stop_time"], axis='columns', inplace=True)
ri.set_index('stop_datetime', inplace=True)

C:\Users\admin\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [39]:
import pandas as pd
import matplotlib.pyplot as plt
ri = pd.read_csv('RI_cleaned.csv',index_col=0)
import warnings
warnings.filterwarnings('ignore')

In [3]:
ri.head(1).T

stop_datetime      2005-01-02 01:55:00
id                       RI-2005-00001
location_raw                   Zone K1
police_department                  600
driver_gender                        M
driver_age_raw                  1985.0
driver_age                        20.0
driver_race_raw                      W
driver_race                      White
violation_raw                 Speeding
violation                     Speeding
search_conducted                 False
search_type_raw                    NaN
search_type                        NaN
contraband_found                 False
stop_outcome                  Citation
is_arrested                      False
stop_duration                 0-15 Min
out_of_state                     False
drugs_related_stop               False
district                       Zone K1
frisk                            False

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [8]:
ri.violation.value_counts()##dropna=False gives null count

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [6]:
ri.violation.value_counts(normalize=True)

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

In [4]:
ri['violation'].nunique()

6

In [12]:
ri['violation'].isnull().sum()

0

In [13]:
len(ri['violation'])

480584

In [14]:
ri['violation']

stop_datetime
2005-01-02 01:55:00               Speeding
2005-01-02 20:30:00               Speeding
2005-01-04 12:55:00              Equipment
2005-01-06 01:30:00              Equipment
2005-01-12 08:05:00                  Other
                              ...
2015-12-31 22:46:00               Speeding
2015-12-31 22:47:00    Registration/plates
2015-12-31 23:08:00              Equipment
2015-12-31 23:44:00               Speeding
2015-12-31 23:48:00              Seat belt
Name: violation, Length: 480584, dtype: object

In [15]:
vio_values=pd.DataFrame(ri['violation'].value_counts()).reset_index().rename({'index':'violation','violation':'number of violation'},axis=1)
vio_values

             violation  number of violation
0             Speeding               268736
1     Moving violation                90228
2            Equipment                61250
3                Other                24216
4  Registration/plates                19830
5            Seat belt                16324

In [16]:
vio_values['proportion']=round(vio_values['number of violation']/len(ri['violation']),2)
vio_values#proportion to total violation

             violation  number of violation  proportion
0             Speeding               268736        0.56
1     Moving violation                90228        0.19
2            Equipment                61250        0.13
3                Other                24216        0.05
4  Registration/plates                19830        0.04
5            Seat belt                16324        0.03

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [4]:
driver_male=pd.DataFrame(ri[ri['driver_gender']=='M'])

In [5]:
driver_female=pd.DataFrame(ri[ri['driver_gender']=='F'])

In [6]:
driver_female['violation'].isnull().sum()

0

In [8]:
driver_male['violation'].count()

349446

In [26]:
vio_values_M=pd.DataFrame(driver_male['violation'].value_counts()).reset_index().rename({'index':'violation_M','violation':'number of violation_M'},axis=1)

In [29]:
vio_values_M['proportion']=round(vio_values_M['number of violation_M']/len(driver_male['violation']),2)

In [30]:
vio_values_M###Proportion of total violation of Male

           violation_M  number of violation_M  proportion
0             Speeding                 182538        0.52
1     Moving violation                  72317        0.21
2            Equipment                  47211        0.14
3                Other                  20425        0.06
4  Registration/plates                  14181        0.04
5            Seat belt                  12774        0.04

In [31]:
vio_values_F=pd.DataFrame(driver_female['violation'].value_counts()).reset_index().rename({'index':'violation_F','violation':'number of violation_F'},axis=1)

In [32]:
vio_values_F['proportion']=round(vio_values_F['number of violation_F']/len(driver_female['violation']),2)

In [33]:
vio_values_F###Proportion for female not total

           violation_F  number of violation_F  proportion
0             Speeding                  86198        0.66
1     Moving violation                  17911        0.14
2            Equipment                  14039        0.11
3  Registration/plates                   5649        0.04
4                Other                   3791        0.03
5            Seat belt                   3550        0.03

In [12]:
###Joseph Hoca 
female=ri[ri.driver_gender=='F']
male=ri[ri.driver_gender=='M']

In [13]:
male.violation.value_counts(normalize=True)

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

In [14]:
female.violation.value_counts(normalize=True)

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [56]:
vio_speed_M=ri[(ri['violation']=='Speeding')&(ri['driver_gender']=='M')]
vio_speed_F=ri[(ri['violation']=='Speeding')&(ri['driver_gender']=='F')]
vio_speed_M.head()

,id,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,...,violation,search_conducted,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,combined
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,600,M,1985.0,20.0,W,White,...,Speeding,False,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,500,M,1987.0,18.0,W,White,...,Speeding,False,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30
2005-01-18 08:15:00,RI-2005-00007,2005-01-18,08:15,Zone K3,300,M,1965.0,40.0,W,White,...,Speeding,False,False,Citation,False,0-15 Min,True,False,Zone K3,2005-01-18 08:15
2005-01-23 23:15:00,RI-2005-00009,2005-01-23,23:15,Zone K3,300,M,1972.0,33.0,W,White,...,Speeding,False,False,Citation,False,0-15 Min,True,False,Zone K3,2005-01-23 23:15
2005-01-24 20:32:00,RI-2005-00010,2005-01-24,20:32,Zone K1,600,M,1987.0,18.0,W,White,...,Speeding,True,True,Citation,False,0-15 Min,True,True,Zone K1,2005-01-24 20:32

In [59]:
vio_speed_M['stop_outcome'].value_counts()[0]#Citation counts for male

172432

In [60]:
vio_speed_F['stop_outcome'].value_counts()[0]#Citation counts for female

82168

In [61]:
##Male
p=vio_speed_M['stop_outcome'].value_counts()[0]/len(vio_speed_M)
p    ###The proportion of male driver has citation to other male driver

0.9446361853422302

In [64]:
p_t=vio_speed_M['stop_outcome'].value_counts()[0]/ri['violation'].value_counts()[0]
p_t ###The proportion of male driver has citation to other all driver has speeding

0.641640866873065

In [ ]:
###Female

In [65]:
p1=vio_speed_F['stop_outcome'].value_counts()[0]/len(vio_speed_M)
p1 ###The proportion of female driver has citation to other female driver

0.4501418882643614

In [66]:
p1_t=vio_speed_F['stop_outcome'].value_counts()[0]/ri['violation'].value_counts()[0]
p1_t

0.30575732317218385

In [71]:
ri[['violation','driver_gender','stop_outcome']][(ri['stop_outcome']=='Citation')]

                               violation driver_gender stop_outcome
stop_datetime
2005-01-02 01:55:00             Speeding             M     Citation
2005-01-02 20:30:00             Speeding             M     Citation
2005-01-04 12:55:00            Equipment             M     Citation
2005-01-06 01:30:00            Equipment             M     Citation
2005-01-12 08:05:00                Other             M     Citation
...                                  ...           ...          ...
2015-12-31 22:46:00             Speeding             M     Citation
2015-12-31 22:47:00  Registration/plates             M     Citation
2015-12-31 23:08:00            Equipment             M     Citation
2015-12-31 23:44:00             Speeding             M     Citation
2015-12-31 23:48:00            Seat belt             M     Citation

[428378 rows x 3 columns]

In [15]:
##Joseph Hoca 
female_and_speeding=ri[(ri.driver_gender=='F')&(ri.violation=='Speeding')]
male_and_speeding=ri[(ri.driver_gender=='M')&(ri.violation=='Speeding')]

In [16]:
female_and_speeding.stop_outcome.value_counts(normalize=True)

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [17]:
male_and_speeding.stop_outcome.value_counts(normalize=True)

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [79]:
ri['search_conducted'].value_counts()[1]/len(ri['search_conducted'])

0.036959199640437465

In [75]:
ri['search_conducted'].isnull().sum()

0

In [80]:
ri['search_conducted'].mean()

0.036959199640437465

In [19]:
##jseph hoca
ri.search_conducted.value_counts(normalize=True)

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

###

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [82]:
ri[ri['driver_gender']=='F']['search_conducted'].mean()

0.018751239152648355

In [20]:
##joseph hoca
female.search_conducted.mean()

0.018751239152648355

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [83]:
ri[ri['driver_gender']=='M']['search_conducted'].mean()

0.04379217389811301

In [21]:
###
male.search_conducted.mean()

0.04379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [95]:
pd.DataFrame(ri.groupby('driver_gender')['search_conducted'].value_counts())

                                search_conducted
driver_gender search_conducted
F             False                       128679
              True                          2459
M             False                       334143
              True                         15303

In [24]:
ri.groupby('driver_gender')['search_conducted'].mean()##.value_counts(normalize=True)mean True ları ort

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [25]:
pd.DataFrame(ri.groupby(['driver_gender','violation'])['search_conducted'].value_counts())

                                                    search_conducted
driver_gender violation           search_conducted
F             Equipment           False                        13474
                                  True                           565
              Moving violation    False                        17230
                                  True                           681
              Other               False                         3617
                                  True                           174
              Registration/plates False                         5340
                                  True                           309
              Seat belt           False                         3487
                                  True                            63
              Speeding            False                        85531
                                  True                           667
M             Equipment           False                        43863
                                  True                          3348
              Moving violation    False                        68039
                                  True                          4278
              Other               False                        19483
                                  True                           942
              Registration/plates False                        12712
                                  True                          1469
              Seat belt           False                        12369
                                  True                           405
              Speeding            False                       177677
                                  True                          4861

In [27]:
###
ri.groupby(['driver_gender','violation'])['search_conducted'].mean()

driver_gender  violation
F              Equipment              0.040245
               Moving violation       0.038021
               Other                  0.045898
               Registration/plates    0.054700
               Seat belt              0.017746
               Speeding               0.007738
M              Equipment              0.070916
               Moving violation       0.059156
               Other                  0.046120
               Registration/plates    0.103589
               Seat belt              0.031705
               Speeding               0.026630
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [ ]:
pd.DataFrame(ri.groupby(['violation','driver_gender'])['search_conducted'].value_counts())

In [28]:
###
ri.groupby(['violation','driver_gender'])['search_conducted'].mean()

violation            driver_gender
Equipment            F                0.040245
                     M                0.070916
Moving violation     F                0.038021
                     M                0.059156
Other                F                0.045898
                     M                0.046120
Registration/plates  F                0.054700
                     M                0.103589
Seat belt            F                0.017746
                     M                0.031705
Speeding             F                0.007738
                     M                0.026630
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [ ]:

Eksik
#ri.search_type.value_counts()
#ri['frisk']=ri.search_type=='Protective Frisk'
#ri.frisk.value_counts()

In [42]:
####
ri['frisk']=ri.search_type.str.contains('Protective Frisk',na=False)##önceden tanımladığım için burada == kullandım

In [43]:
ri.frisk.value_counts()

False    478986
True       1598
Name: frisk, dtype: int64

In [ ]:
ri.search_type.isin(['Protective Frisk'])Gives eksik değer

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [44]:
search=ri[ri.search_conducted==True] ####true ya eşitlemese de olur zaten True döner
search
search.frisk.mean()
search.groupby('driver_gender').frisk.mean()
ri.to_csv('RI_cleaned.csv')