In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import scipy
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
warnings.warn("this will not show")

plt.rcParams["figure.figsize"]=(10,6)
sns.set_style("whitegrid")
pd.set_option("display.float_format",lambda x:'%.3f'% x)
pd.options.display.max_rows=100
pd.options.display.max_columns=100

In [2]:
Df=pd.read_json("scout_car.json",lines=True)

In [3]:
df=Df.copy()

In [4]:
df.head(5).T

,0,1,2,3,4
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,1.4 TDi Design S tronic,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
body_type,Sedans,Sedans,Sedans,Sedans,Sedans
price,15770,14500,14640,14500,16790
vat,VAT deductible,Price negotiable,VAT deductible,None,None
km,"56,013 km","80,000 km","83,450 km","73,000 km","16,200 km"
registration,01/2016,03/2017,02/2016,08/2016,05/2016
prev_owner,2 previous owners,None,1 previous owner,1 previous owner,1 previous owner
kW,NaN,NaN,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW,66 kW,66 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n,\n1\n,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN,NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN,NaN,"[\nYes\n, \n109 g CO2/km (comb)\n]"
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,"[\n, \n, \nEuro 6\n]"
Full Service,"[\n, \n]",NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \n4 (Green)\n]"
Non-smoking Vehicle,"[\n, \n]",NaN,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n]"
null,[],[],[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n],NaN,[\nC1626\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]","[\n, 2016, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]","[\n, Brown, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n],[\nMetallic\n],[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n],NaN,[\nMythosschwarz Metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]",NaN,"[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n],[\n3\n],[\n5\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n],[\n4\n],[\n5\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN,NaN,[\n0588/BDF\n]
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]","[\n1,422 cc\n]","[\n1,422 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN,[\n3\n],[\n3\n]
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN,"[\n1,195 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n],NaN,[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n],[\n109 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ...","[Air suspension, Armrest, Auxiliary heating, E...","[Air conditioning, Armrest, Automatic climate ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]","[Bluetooth, CD player, Hands-free equipment, M...","[Bluetooth, CD player, Hands-free equipment, M..."
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]","[Alloy wheels, Sport seats, Voice Control]","[Alloy wheels, Sport package, Sport suspension..."
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light...","[ABS, Alarm system, Central door lock with rem...","[ABS, Central door lock, Driver-side airbag, E..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n],NaN,NaN
Gears,NaN,[\n7\n],NaN,[\n6\n],NaN
Country version,NaN,NaN,NaN,NaN,[\nGermany\n]
Electricity consumption,NaN,NaN,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN,NaN,NaN
Availability,NaN,NaN,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN,NaN,NaN
Available from,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(15919, 54)

In [6]:
def missing (df):
    missing_number = df.isnull().sum().sort_values(ascending=False)
    missing_percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_values = pd.concat([missing_number, missing_percent], axis=1, keys=['Missing_Number', 'Missing_Percent'])
    return missing_values

missing(df)

                               Missing_Number  Missing_Percent
kW                                      15919            1.000
Last Timing Belt Service Date           15903            0.999
Electricity consumption                 15782            0.991
Available from                          15647            0.983
Last Service Date                       15353            0.964
Availability                            15284            0.960
Other Fuel Types                        15039            0.945
Next Inspection                         12384            0.778
Inspection new                          11987            0.753
Emission Label                          11934            0.750
Model Code                              10941            0.687
Non-smoking Vehicle                      8742            0.549
Country version                          8333            0.523
Full Service                             7704            0.484
Weight                                   6974            0.438
Drive chain                              6858            0.431
prev_owner                               6828            0.429
Previous Owners                          6640            0.417
Paint Type                               5772            0.363
Cylinders                                5680            0.357
Warranty                                 5420            0.340
Gears                                    4712            0.296
vat                                      4513            0.283
Body Color Original                      3759            0.236
Upholstery                               3720            0.234
Offer Number                             3175            0.199
Emission Class                           3021            0.190
\nExtras\n                               2962            0.186
Consumption                              1906            0.120
CO2 Emission                             1808            0.114
First Registration                       1597            0.100
\nEntertainment & Media\n                1374            0.086
\nSafety & Security\n                     982            0.062
Nr. of Seats                              977            0.061
\nComfort & Convenience\n                 920            0.058
Body Color                                597            0.038
Displacement                              496            0.031
Nr. of Doors                              212            0.013
Body                                       60            0.004
body_type                                  60            0.004
short_description                          46            0.003
Type                                        2            0.000
Fuel                                        0            0.000
Gearing Type                                0            0.000
make_model                                  0            0.000
Model                                       0            0.000
Make                                        0            0.000
description                                 0            0.000
null                                        0            0.000
hp                                          0            0.000
registration                                0            0.000
km                                          0            0.000
price                                       0            0.000
url                                         0            0.000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB


### drop column whose Nan value is too much AND THERE İS NO USEFUL DATA

In [8]:
null_columns=df.notnull().sum()*100/df.shape[0]

In [9]:
for i,j in zip(null_columns.values,null_columns.index):
    if i<10:
        print(j)

kW
Electricity consumption
Last Service Date
Other Fuel Types
Availability
Last Timing Belt Service Date
Available from

In [10]:
drop_nan_list=[j for i,j in zip(null_columns.values,null_columns.index) if i<10]

In [11]:
df.drop(axis=1,columns=drop_nan_list,inplace=True)

In [12]:
df.shape

(15919, 47)

## Examine all columns step by step

## URL

In [13]:
df.url.value_counts(dropna=False)

https://www.autoscout24.com//offers/opel-astra-k-1-6d-cdti-automatik-edition-navi-pdc-diesel-grey-108e1d1e-9925-414d-93f1-f59aadbf30cf                  1
https://www.autoscout24.com//offers/audi-a1-1-4-tdi-sport-automatik-navi-xenon-garantie-diesel-brown-cdcbf77e-e74b-760c-e053-e350040a81e2               1
https://www.autoscout24.com//offers/audi-a1-1-4-tfsi-design-pdc-sport-s-lm-felgen-shz-gasoline-white-9811c00b-41f9-407e-a966-a69b0a4bc8b4               1
https://www.autoscout24.com//offers/opel-astra-k-1-4-t-st-edition-sitz-lenkradh-top-gasoline-black-1388932c-0aad-4ff5-b44e-e635ede08447                 1
https://www.autoscout24.com//offers/audi-a1-spb-25-1-0-tfsi-90hp-km-zero-gasoline-white-20157a79-9b0c-4e1a-9910-7ac8d1674dc5                            1
                                                                                                                                                       ..
https://www.autoscout24.com//offers/audi-a3-sedan-1-6-tdi-116-cv-s-tronic-busines-diesel-grey-5562b889-8d92-6422-e053-e250040a999c                      1
https://www.autoscout24.com//offers/renault-clio-tce-75-limited-r-go-audio-klima-gasoline-white-88d419be-3c46-4aec-aa66-cd7ae39312d7                    1
https://www.autoscout24.com//offers/audi-a3-sportback-1-6-tdi-110ch-business-line-s-tronic-7-diesel-black-eb63fcdd-3e52-4d8c-8de8-1930b41d3c95          1
https://www.autoscout24.com//offers/renault-clio-energy-tce-90-start-stop-limited-gasoline-black-f21fbf4d-2c89-402d-a3c8-baab9c5c5de1                   1
https://www.autoscout24.com//offers/opel-insignia-b-gs-1-6-d-edition-18-bi-color-navi-winter-paket-diesel-black-9cdce2c2-d46b-41de-93ac-71c6aae4fec1    1
Name: url, Length: 15919, dtype: int64

In [14]:
df.drop('url',axis=1,inplace=True)

## MAKE_MODEL

In [15]:
df.make_model.value_counts(dropna=False)##CATEGORIC

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [16]:
df.make_model.isnull().sum()

0

### Examine make and model column which are related to make_model column to determine duplicate row

In [17]:
#df.Make.value_counts(dropna=False)

In [18]:
df.Model.value_counts(dropna=False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [19]:
check_model=df.Make.map(lambda x : x.strip('\n'))+' '+df.Model.map(lambda x: x[1])==df['make_model']##Check make+model same as make_model

In [20]:
check_model.value_counts()

True    15919
dtype: int64

### When we examine these three columns we can see that make_model column is same with make+model so we drop make and model column

In [21]:
df.drop(["Make","Model"],axis=1,inplace=True)

## SHORT DESCRIPTION

In [22]:
df.short_description.value_counts()

SPB 1.6 TDI 116 CV S tronic Sport                   64
1.4 66kW (90CV) Selective                           40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH               38
SPB 30 TFSI S tronic Admired                        35
SPB 30 TDI S tronic Business                        35
                                                    ..
Edition, 3-Türer, 1.2 (69PS)                         1
B Grand Sport 1.6 Diesel Innovation*KAMERA*DAB+*     1
ST 1.6CDTI INNOV. XENON/NAVI/SHZ/KAMERA              1
1.6 CDTI Innovation KAMERA*PDC V*H*UVM*              1
IV Start R/CD COLOR ZV GARANTIE 04.2021              1
Name: short_description, Length: 10001, dtype: int64

### The information in the short description column is useless ,this can not be categorized so we can  drop

In [23]:
df.drop(["short_description"],axis=1,inplace=True)

## BODY TYPE

In [24]:
df.body_type.value_counts()##CATEGORIC

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [25]:
df.body_type.isnull().sum()

60

## PRICE

In [26]:
df.price.value_counts()##NUMERIC VALUE,INT CAN BE convert float

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
31940      1
15540      1
21649      1
27790      1
34815      1
Name: price, Length: 2956, dtype: int64

In [27]:
df.price.sample(5)

9923    17900
5194    25990
9956    16625
3422    19000
5928    14750
Name: price, dtype: int64

In [28]:
df.price.isnull().sum()

0

## VAT

In [29]:
df.vat.value_counts()##CATEGORİC,NEED DUMMIES

VAT deductible      10980
Price negotiable      426
Name: vat, dtype: int64

In [30]:
df.vat.isnull().sum()

4513

In [31]:
df.vat.sample(5)

6547              None
4457    VAT deductible
7752    VAT deductible
9558    VAT deductible
3824    VAT deductible
Name: vat, dtype: object

## KM

In [32]:
df.km.isnull().sum()

0

In [33]:
df.km[df.km=='- km'].value_counts()##these data must be solve in the missing part

- km    1024
Name: km, dtype: int64

In [34]:
df.km.apply(lambda x:x.split(" ")[0].replace(',', '')).apply(lambda x: None if x=='-' else x).astype(float)
##when we use apply we don't need to inplace True, but with map function we need to redefine column

0       56013.000
1       80000.000
2       83450.000
3       73000.000
4       16200.000
           ...
15914         NaN
15915    9900.000
15916      15.000
15917      10.000
15918         NaN
Name: km, Length: 15919, dtype: float64

In [35]:
df.km.sample()##data is object convert to float USE AS NUMERIC

3554    46,928 km
Name: km, dtype: object

In [36]:
df.km=df.km.apply(lambda x:x.split(" ")[0].replace(',', '')).apply(lambda x: None if x=='-' else x).astype(float)

## REGISTRATION AND FIRST REGISTRATION

In [37]:
df.registration.sample()

6705    01/2017
Name: registration, dtype: object

In [38]:
df.registration.apply(lambda x: x.split('/')[1]).value_counts()

2018    4522
2016    3674
2017    3273
2019    2853
-       1597
Name: registration, dtype: int64

In [39]:
df['First Registration'].map(lambda x: float(list(x)[1]),na_action='ignore').value_counts()

2018.000    4522
2016.000    3674
2017.000    3273
2019.000    2853
Name: First Registration, dtype: int64

In [40]:
df['First Registration'].map(lambda x: float(list(x)[1]),na_action='ignore').sample()

5132   2019.000
Name: First Registration, dtype: float64

In [41]:
df['First Registration'].isnull().sum()

1597

### After examining these two columns, we can determine that we need year so we can drop registration column and convert data to float at the first registration

In [42]:
df.drop('registration',axis=1,inplace=True)

In [43]:
df['First Registration']=df['First Registration'].map(lambda x: float(list(x)[1]),na_action='ignore')

In [44]:
df['First Registration'].isnull().sum()

1597

## AGE COLUMN CAN BE OBTAINED THEN FIRST REGISTRATION DROP

In [45]:
df['Age']=2019-df['First Registration']

In [46]:
df['Age'].value_counts()

1.000    4522
3.000    3674
2.000    3273
0.000    2853
Name: Age, dtype: int64

In [47]:
df['Age'].isnull().sum()

1597

In [48]:
df.drop('First Registration',axis=1,inplace=True)

## PREV_OWNER AND PREVIOUS OWNERS

In [49]:
df.prev_owner.value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [50]:
df['Previous Owners'].sample(5)

3252       NaN
6501       NaN
15504    \n1\n
869      \n0\n
12406      NaN
Name: Previous Owners, dtype: object

In [51]:
df['Previous Owners'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n1\n                                                                                        8101
\n2\n                                                                                         766
\n0\n                                                                                         163
\n3\n                                                                                          17
[\n1\n, \n168 g CO2/km (comb)\n]                                                               13
                                                                                             ...
[\n2\n, \n127 g CO2/km (comb)\n]                                                                1
[\n1\n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n0\n, \n117 g CO2/km (comb)\n]                                                                1
[\n1\n, \n141 g CO2/km (comb)\n]                                                                1
[\n1\n, \n102 g CO2/km (comb)\n]                                                                1
Name: Previous Owners, Length: 102, dtype: int64

In [52]:
df['Previous Owners'].map(lambda x: str(x)[4] if str(x)[0]=='[' else str(x).strip('\n'),na_action='ignore' ).astype(float).value_counts()

1.000    8294
2.000     778
0.000     188
3.000      17
4.000       2
Name: Previous Owners, dtype: int64

In [53]:
df['Previous Owners']=df['Previous Owners'].map(lambda x: str(x)[4] if str(x)[0]=='[' else str(x).strip('\n'),na_action='ignore' ).astype(float)

In [54]:
##"prev_owner","Previous Owners" are duplicate column Previous Owners" is more accurate so we drop prev_owner column

df.drop("prev_owner",axis =1,inplace=True)

## HP

In [55]:
df.hp.sample(5)##type must be convert to float

3045      81 kW
6828      77 kW
15340    149 kW
14236     55 kW
8043      66 kW
Name: hp, dtype: object

In [56]:
df.hp.isnull().sum()

0

In [57]:
df.hp=df.hp.apply(lambda x: float(x.split(" ")[0]) if x!='- kW' else np.nan)

In [58]:
df.hp.sample()

315   85.000
Name: hp, dtype: float64

In [59]:
df.hp.isnull().sum()## '- kW' convert to nan we deal with later with nan

88

## TYPE

In [60]:
df.Type.sample(5)

727                         [, Used, , Super 95]
6343                        [, Used, , Gasoline]
297      [, Used, , Diesel (Particulate Filter)]
15570    [, Used, , Diesel (Particulate Filter)]
12414     [, New, , Diesel (Particulate Filter)]
Name: Type, dtype: object

In [61]:
df_new_fuel=df.Type.map(lambda x: x[3],na_action='ignore')

In [62]:
df_new_fuel.map(lambda x: str(x).split(' ')[0]).value_counts()##we can continue with Fuel column we do not need this column

Diesel               7297
Super                4790
Gasoline             3252
Regular/Benzine       503
CNG                    36
LPG                    16
Liquid                 10
Others                  6
Electric/Gasoline       4
nan                     2
Biogas                  1
Domestic                1
Electric                1
Name: Type, dtype: int64

In [63]:
df.Type.map(lambda x: x[3],na_action='ignore').isnull().sum()##Check  if same as Fuel column or not

2

In [64]:
df.Type=df.Type.map(lambda x: x[1],na_action='ignore')## we change type column

In [65]:
df.Type.value_counts()

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
Name: Type, dtype: int64

In [66]:
df.Type.isnull().sum()

2

In [67]:
df.Type.sample(2)## Categoric

15748    Pre-registered
6537               Used
Name: Type, dtype: object

### EXAMPLE LIST COMPREHESION

In [68]:
#[1 if type(x)==list and 'Used' in x 
# else(1 if type(x)==list and "Employee's car" in x else 0) for x in df1['Type']]
#[1 if type(x)==list and 'Used' in x else(1 if type(x)==list and "Employee's car" in x else(1 if type(x)==list and "Demonstration" in row else(1 if type(x)==list and "Pre-registered" in row else 0)) for x in df1['Type']]

## FUEL

In [69]:
df.Fuel.isnull().sum()

0

In [70]:
df.Fuel=df.Fuel.map(lambda x: x[1].split(' ')[0] if type(x)==list else x.split(' ')[0])

In [71]:
df.Fuel=df.Fuel.map(lambda x: 'Gasoline' if x=='Regular/Benzine' or x=='Super' else x )

In [72]:
df.Fuel=df.Fuel.map(lambda x: 'LPG' if x=='Liquid' or x=='Biogas'or x=='Domestic' else x )

In [73]:
df.Fuel.value_counts()

Gasoline             8545
Diesel               7299
CNG                    36
LPG                    28
Others                  6
Electric/Gasoline       4
Electric                1
Name: Fuel, dtype: int64

In [74]:
df.Fuel.isnull().sum()

0

## NEXT INSPECTION AND INSPECTION NEW

In [75]:
df['Next Inspection'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

\n04/2022\n                               62
\n03/2021\n                               38
\n03/2022\n                               36
\n06/2021\n                               34
\n01/2022\n                               32
                                          ..
[\n09/2020\n, \n141 g CO2/km (comb)\n]     1
[\n09/2021\n, \n117 g CO2/km (comb)\n]     1
[\n04/2021\n, \n105 g CO2/km (comb)\n]     1
[\n04/2019\n, \n97 g CO2/km (comb)\n]      1
[\n05/2021\n, \n135 g CO2/km (comb)\n]     1
Name: Next Inspection, Length: 1399, dtype: int64

In [76]:
df['Next Inspection']=df['Next Inspection'].map(lambda x: str(x[0]).strip('\n')[3:] if type(x)==list else str(x).strip('\n')[3:],na_action='ignore')

In [77]:
df['Inspection new']=df['Inspection new'].map(lambda x: str(x[0]).strip('\n') if type(x)==list else str(x).strip('\n')  ,na_action='ignore')

In [78]:
df[['Next Inspection','Inspection new']].sample(5)

      Next Inspection Inspection new
4706             2021            NaN
10732             NaN            NaN
3136             2021            NaN
8280              NaN            Yes
7002              NaN            Yes

In [79]:
df['Next Inspection'].isnull().sum()

12384

In [80]:
df['Inspection new'].isnull().sum()

11987

In [81]:
df['Next Inspection'].value_counts()

2021    1601
2020     694
2022     688
2019     438
2023      47
2018      38
2017      13
2016       6
2001       5
1921       1
2024       1
1955       1
2014       1
1999       1
Name: Next Inspection, dtype: int64

In [82]:
df[df['Inspection new']=='Yes']['Next Inspection'].value_counts()

2021    515
2022    158
2020     95
2019     92
2018      9
2001      5
1921      1
Name: Next Inspection, dtype: int64

### We can see that 2001,1921 is given wrongly , we consider 2019 is the current year so that 2020 and after years we can determine yes in the Inspection new column

In [83]:
df['Next Inspection']=df['Next Inspection'].map(lambda x: float(x))

In [84]:
df['Next Inspection']=df['Next Inspection'].map(lambda x: 2021 if x==1921 or x==2001 else x)

In [85]:
df[(df['Next Inspection']>2019) & (df['Inspection new']!='Yes')]['Inspection new']='Yes'

In [86]:
row=df[(df['Next Inspection']>2019) & (df['Inspection new']!='Yes')]['Inspection new'].index

In [87]:
for i in row:
    df['Inspection new'].iloc[i]='Yes'

In [88]:
df['Inspection new'].isnull().sum()

9724

## After we take around 2200 data,  we can drop Next Inspection column

In [89]:
df.drop('Next Inspection',axis=1,inplace=True)

## WARRANTY

In [90]:
df.Warranty.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n, \nEuro 6\n]                           1868
\n12 months\n                                  1177
\n                                              979
\n24 months\n                                   566
[\n, \n, \n4 (Green)\n]                         517
                                               ...
[\n24 months\n, \n128 g CO2/km (comb)\n]          1
[\n6 months\n, \n108 g CO2/km (comb)\n]           1
[\n, \n, \n5 (Blue)\n]                            1
[\n12 months\n, \n14,457 g CO2/km (comb)\n]       1
[\n25 months\n, \n104 g CO2/km (comb)\n]          1
Name: Warranty, Length: 515, dtype: int64

In [91]:
df['Warranty']=df['Warranty'].map(lambda x: str(x[0]).strip('\n').split(' ')[0] if type(x)==list else str(x).strip('\n').split(' ')[0]  ,na_action='ignore')

In [92]:
df['Warranty']=df['Warranty'].replace('',np.nan).astype(float)##CHECK LATER ON IF DATA IS MEANİNGFUL

## FULL SERVICE

In [93]:
df['Full Service']##There is nothing meaningful DROP

0                                [\n, \n]
1                                     NaN
2                                     NaN
3        [\n, \n, \n99 g CO2/km (comb)\n]
4                 [\n, \n, \n4 (Green)\n]
                       ...
15914                                 NaN
15915                                 NaN
15916                            [\n, \n]
15917                                 NaN
15918                                 NaN
Name: Full Service, Length: 15919, dtype: object

In [94]:
df.drop('Full Service',axis=1,inplace=True)

## NONSMOKING VEHICLE,NULL,OFFER NUMBER

In [95]:
df['Non-smoking Vehicle'].value_counts()##There is nothing meaningful DROP

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, \n]                                                                                      3647
[\n, \n, \n4 (Green)\n]                                                                       1240
[\n, \n, \nEuro 6\n]                                                                          1127
[\n, \n, \nEuro 6d-TEMP\n]                                                                     345
\n                                                                                              70
[\n, \n, \n120 g CO2/km (comb)\n]                                                               63
[\n, \n, \n85 g CO2/km (comb)\n]                                                                46
[\n, \n, \n107 g CO2/km (comb)\n]                                                               36
[\n, \n, \n104 g CO2/km (comb)\n]                                                               36
[\n, \n, \n153 g CO2/km (comb)\n]                                                               31
[\n, \n, \n124 g CO2/km (comb)\n]                                                               29
[\n, \n, \n1 (No sticker)\n]                                                                    24
[\n, \n, \n99 g CO2/km (comb)\n]                                                                23
[\n, \n, \n97 g CO2/km (comb)\n]                                                                20
[\n, \n, \n106 g CO2/km (comb)\n]                                                               20
[\n, \n, \n108 g CO2/km (comb)\n]                                                               19
[\n, \n, \n100 g CO2/km (comb)\n]                                                               18
[\n, \n, \n113 g CO2/km (comb)\n]                                                               18
[\n, \n, \n105 g CO2/km (comb)\n]                                                               18
[\n, \n, \n109 g CO2/km (comb)\n]                                                               18
[\n, \n, \nEuro 6c\n]                                                                           17
[\n, \n, \n98 g CO2/km (comb)\n]                                                                15
[\n, \n, \n129 g CO2/km (comb)\n]                                                               14
[\n, \n, \n131 g CO2/km (comb)\n]                                                               13
[\n, \n, \n103 g CO2/km (comb)\n]                                                               12
[\n, \n, \n114 g CO2/km (comb)\n]                                                               12
[\n, \n, \n133 g CO2/km (comb)\n]                                                               12
[\n, \n, \n116 g CO2/km (comb)\n]                                                               11
[\n, \n, \n135 g CO2/km (comb)\n]                                                               11
[\n, \n, \n102 g CO2/km (comb)\n]                                                               11
[\n, \n, \n127 g CO2/km (comb)\n]                                                               10
[\n, \n, \n143 g CO2/km (comb)\n]                                                               10
[\n, \n, \n92 g CO2/km (comb)\n]                                                                 9
[\n, \n, \n112 g CO2/km (comb)\n]                                                                9
[\n, \n, \nEuro 6d\n]                                                                            9
[\n, \n, \n118 g CO2/km (comb)\n]                                                                8
[\n, \n, \n5 (Blue)\n]                                                                           8
[\n, \n, \n147 g CO2/km (comb)\n]                                                                7
[\n, \n, \n139 g CO2/km (comb)\n]                                                                7
[\n, \n, \n128 g CO2/km (comb)\n]                                                                7
[\n, \n, \n117 g CO2/km (comb)\n]                                                                6
[\n, \n, \n140 g CO2/km (comb)\n]                                                                6
[\n, \n, \n126 g CO2/km (comb)\n]                                                                6
[\n, \n, \n137 g CO2/km (comb)\n]                                                                6
[\n, \n, \n115 g CO2/km (comb)\n]                                                                5
[\n, \n, \n130 g CO2/km (comb)\n]                                                                5
[\n, \n, \n151 g CO2/km (comb)\n]                                                                4
[\n, \n, \n123 g CO2/km (comb)\n]                                                                4
[\n, \n, \nEuro 5\n]                                                                             4
[\n, \n, \n, 5.2 l/100 km (comb), \n, 5.8 l/100 km (city), \n, 4.8 l/100 km (country), \n]       4
[\n, \n, \n136 g CO2/km (comb)\n]                                                                3
[\n, \n, \n157 g CO2/km (comb)\n]                                                                3
[\n, \n, \n148 g CO2/km (comb)\n]                                                                3
[\n, \n, \n119 g CO2/km (comb)\n]                                                                3
[\n, \n, \n149 g CO2/km (comb)\n]                                                                3
[\n, \n, \n110 g CO2/km (comb)\n]                                                                3
[\n, \n, \n95 g CO2/km (comb)\n]                                                                 3
[\n, \n, \n111 g CO2/km (comb)\n]                                                                2
[\n, \n, \n142 g CO2/km (comb)\n]                                                                2
[\n, \n, \n134 g CO2/km (comb)\n]                                                                2
[\n, \n, \n121 g CO2/km (comb)\n]                                                                2
[\n, \n, \n138 g CO2/km (comb)\n]                                                                2
[\n, \n, \n, 5.2 l/100 km (comb), \n, 6.4 l/100 km (city), \n, 4.4 l/100 km (country), \n]       2
[\n, \n, \n90 g CO2/km (comb)\n]                                                                 2
[\n, \n, \n125 g CO2/km (comb)\n]                                                                2
[\n, \n, \n166 g CO2/km (comb)\n]                                                                2
[\n, \n, \n172 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.7 l/100 km (city), \n, 5.2 l/100 km (country), \n]       1
[\n, \n, \n150 g CO2/km (comb)\n]                                                                1
[\n, \n, \n175 g CO2/km (comb)\n]                                                                1
[\n, \n, \n169 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.6 l/100 km (country), \n]       1
[\n, \n, \n, 1.6 l/100 km (comb), \n, \n, \n]                                                    1
[\n, \n, \n, 6.1 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.1 l/100 km (country), \n]       1
[\n, \n, \n91 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n159 g CO2/km (comb)\n]                                                                1
[\n, \n, \n156 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.2 l/100 km (comb), \n, 7.9 l/100 km (city), \n, 5.3 l/100 km (country), \n]       1
[\n, \n, \n, 6.5 l/100 km (comb), \n, 8.5 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n82 g CO2/km (comb)\n]                                                                 1
[\n, \n, \n152 g CO2/km (comb)\n]                                                                1
[\n, \n, \n101 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.4 l/100 km (comb), \n, 8.1 l/100 km (city), \n, 5.4 l/100 km (country), \n]       1
[\n, \n, \n, 5.7 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n122 g CO2/km (comb)\n]                                                                1
[\n, \n, \n158 g CO2/km (comb)\n]                                                                1
[\n, \n, \n154 g CO2/km (comb)\n]                                                                1
[\n, \n, \n132 g CO2/km (comb)\n]                                                                1
[\n, \n, \n, 6.3 l/100 km (comb), \n, 8 l/100 km (city), \n, 5.3 l/100 km (country), \n]         1
[\n, \n, \n, 5.6 l/100 km (comb), \n, 7.3 l/100 km (city), \n, 4.7 l/100 km (country), \n]       1
[\n, \n, \n144 g CO2/km (comb)\n]                                                                1
[\n, \n, \n189 g CO2/km (comb)\n]                                                                1
[\n, \n, \n146 g CO2/km (comb)\n]                                                                1
[\n, \n, \n161 g CO2/km (comb)\n]                                                                1
Name: Non-smoking Vehicle, dtype: int64

### null column is empty and Offer Number is not meaningful so we drop all three columns

In [96]:
df.drop(['Non-smoking Vehicle','null','Offer Number'],axis=1,inplace=True)

## BODY COLOR

In [97]:
df['Body Color']=df['Body Color'].map(lambda x: x[1] ,na_action='ignore')##CATEGORIC

In [98]:
df['Body Color'].isnull().sum()

597

## PAINT TYPE

In [99]:
df['Paint Type'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nMetallic\n]       9794
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64

In [100]:
df['Paint Type']=df['Paint Type'].map(lambda x: x[0].strip('\n'),na_action='ignore')##CATEGORIC

In [101]:
df['Paint Type'].isnull().sum()

5772

## BODY COLOR ORIGINAL

In [102]:
df['Body Color Original'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nOnyx Schwarz\n]              338
[\nBianco\n]                    282
[\nMythosschwarz Metallic\n]    238
[\nBrillantschwarz\n]           216
[\nGris\n]                      204
                               ...
[\nBleu Celeste\n]                1
[\nBlu cosmo metallizzato\n]      1
[\nBlac Ivoire D16\n]             1
[\nkarbonschwarz met\n]           1
[\nSATIN STEEL\n]                 1
Name: Body Color Original, Length: 1927, dtype: int64

In [103]:
df.drop('Body Color Original',axis=1,inplace=True)##DROP THIS COLUMN THERE ARE NOT CATEGORIZED

## UPHOLSTERY

In [104]:
df.Upholstery.sample(5)

15381       [\nalcantara, Black\n]
2771            [\nCloth, Black\n]
8825                   [\nBlack\n]
15300    [\nFull leather, Black\n]
9321            [\nCloth, Black\n]
Name: Upholstery, dtype: object

In [105]:
up_type=["Cloth","Part leather", "Full leather","Velour","alcantara","Other"]

In [106]:
df['Upholstery_type']=[i[0].strip('\n').split(',')[0] if type(i)==list and i[0].strip('\n').split(',')[0] in up_type  else np.nan  for i in df.Upholstery]

In [107]:
df['Upholstery_type'].value_counts()

Cloth           8423
Part leather    1499
Full leather    1009
Other            368
Velour            60
alcantara         57
Name: Upholstery_type, dtype: int64

In [108]:
df['Upholstery_type'].isnull().sum()

4503

In [109]:
df['Upholstery_color']=[i[0].strip('\n').split(',')[1] if type(i)==list and  len(i[0].strip('\n').split(','))==2 else (i[0].strip('\n').split(',')[0] if type(i)==list and i[0].strip('\n').split(',')[0] not in up_type  else np.nan)  for i in df.Upholstery]

In [110]:
df['Upholstery_color']=df['Upholstery_color'].map(lambda x: x.strip(),na_action='ignore')

In [111]:
df['Upholstery_color'].value_counts()

Black     8201
Grey      1376
Other      960
Brown      207
Beige       54
Blue        16
White       13
Red          9
Yellow       4
Orange       1
Name: Upholstery_color, dtype: int64

In [112]:
df['Upholstery_color'].isnull().sum()

5078

In [113]:
df.drop('Upholstery',axis=1,inplace=True)

## BODY

In [114]:
df.Body.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64

In [115]:
df.Body=df.Body.map(lambda x: x[1],na_action='ignore' )

In [116]:
df.Body.value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: Body, dtype: int64

In [117]:
df.Body.isnull().sum()

60

### DUPLICATE WITH BODY TYPE COLUMN DROP THIS COLUMN

In [118]:
df.drop('Body',axis=1,inplace=True)

# Nr. of Doors

In [119]:
df['Nr. of Doors'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64

In [120]:
df['Nr. of Doors']=df['Nr. of Doors'].map(lambda x: x[0].strip('\n'),na_action='ignore')

In [121]:
df['Nr. of Doors'].value_counts()

5    11575
4     3079
3      832
2      219
1        1
7        1
Name: Nr. of Doors, dtype: int64

In [122]:
df['Nr. of Doors'].isnull().sum()

212

# Nr. of Seats

In [123]:
df['Nr. of Seats'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n5\n]    13336
[\n4\n]     1125
[\n7\n]      362
[\n2\n]      116
[\n6\n]        2
[\n3\n]        1
Name: Nr. of Seats, dtype: int64

In [124]:
df['Nr. of Seats']=df['Nr. of Seats'].map(lambda x: x[0].strip('\n'),na_action='ignore')

In [125]:
df['Nr. of Seats'].value_counts()

5    13336
4     1125
7      362
2      116
6        2
3        1
Name: Nr. of Seats, dtype: int64

In [126]:
df['Nr. of Seats'].isnull().sum()

977

# Model Code

In [127]:
df['Model Code'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n0035/BCB\n]    268
[\n0588/BNO\n]    245
[\n0588/BDB\n]    206
[\n0588/BHX\n]    188
[\n1844/ADJ\n]    175
                 ...
[\n0035/AVZ\n]      1
[\n1844/AEG\n]      1
[\n0035/BAV\n]      1
[\n3333/BBL\n]      1
[\n0035/BAS\n]      1
Name: Model Code, Length: 232, dtype: int64

In [128]:
df.drop('Model Code',axis=1,inplace=True)##DROP MEANINGLESS

# Gearing Type

In [129]:
df['Gearing Type'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Manual, \n]            8153
[\n, Automatic, \n]         7297
[\n, Semi-automatic, \n]     469
Name: Gearing Type, dtype: int64

In [130]:
df['Gearing Type']=df['Gearing Type'].map(lambda x: x[1],na_action='ignore' )

In [131]:
df['Gearing Type'].value_counts()

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing Type, dtype: int64

In [132]:
df['Gearing Type'].isnull().sum()

0

# Displacement

In [133]:
df.Displacement.sample(5)

9125     [\n1,398 cc\n]
5560     [\n1,598 cc\n]
15507    [\n1,598 cc\n]
1172       [\n999 cc\n]
1602       [\n999 cc\n]
Name: Displacement, dtype: object

In [134]:
df.Displacement=df.Displacement.map(lambda x: x[0].strip('\n').split(' ')[0].replace(',',''),na_action='ignore')

In [135]:
df.Displacement=df.Displacement.astype(float)

In [136]:
df.Displacement.sample(5)

15541   1598.000
13588   1461.000
8948         NaN
13649        NaN
6582    1598.000
Name: Displacement, dtype: float64

In [137]:
df.Displacement.isnull().sum()

496

# Cylinders

In [138]:
df.Cylinders.sample(5)

11568        NaN
939      [\n3\n]
15473    [\n4\n]
6638         NaN
11724        NaN
Name: Cylinders, dtype: object

In [139]:
df.Cylinders=df.Cylinders.map(lambda x: x[0].strip('\n'),na_action='ignore')

In [140]:
df.Cylinders.isnull().sum()

5680

In [141]:
df.Cylinders.value_counts()

4    8105
3    2104
5      22
6       3
8       2
2       2
1       1
Name: Cylinders, dtype: int64

# Weight

In [142]:
df.Weight.sample(5)

1541               NaN
1837    [\n1,135 kg\n]
1545    [\n1,165 kg\n]
8847    [\n1,199 kg\n]
7092               NaN
Name: Weight, dtype: object

In [143]:
df.Weight=df.Weight.map(lambda x: x[0].strip('\n').split(' ')[0].replace(',',''),na_action='ignore')

In [144]:
df.Weight=df.Weight.astype(float)

In [145]:
df.Weight.sample(5)

2394    1165.000
12722        NaN
7487         NaN
132     1215.000
12905        NaN
Name: Weight, dtype: float64

In [146]:
df.Weight.isnull().sum()

6974

# Drive chain

In [147]:
df['Drive chain'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nfront\n]    8886
[\n4WD\n]       171
[\nrear\n]        4
Name: Drive chain, dtype: int64

In [148]:
df['Drive chain']=df['Drive chain'].map(lambda x: x[0].strip('\n'),na_action='ignore')

In [149]:
df['Drive chain'].value_counts()

front    8886
4WD       171
rear        4
Name: Drive chain, dtype: int64

In [150]:
df['Drive chain'].isnull().sum()

6858

# CONSUMPTION

In [151]:
df.Consumption.sample(5)

1158     [[4.9 l/100 km (comb)], [6.2 l/100 km (city)],...
865                                                    NaN
5088     [[3.9 l/100 km (comb)], [4.1 l/100 km (city)],...
5718     [[4.5 l/100 km (comb)], [5.7 l/100 km (city)],...
15711    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...
Name: Consumption, dtype: object

In [152]:
df.Consumption.value_counts().sample(10)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, 5.1 l/100 km (comb), \n, 6.7 l/100 km (city), \n, 4.2 l/100 km (country), \n]      3
[[4.3 l/100 km (comb)], [66 l/100 km (city)], [6.5 l/100 km (country)]]                 1
[\n, 6.1 l/100 km (comb), \n, 7.8 l/100 km (city), \n, 5.1 l/100 km (country), \n]      2
[[7.1 l/100 km (comb)], [9 l/100 km (city)], [6 l/100 km (country)]]                    1
[[3.9 l/100 km (comb)], [4.7 l/100 km (city)], [3.5 l/100 km (country)]]               76
[[5 l/100 km (comb)], [5.9 l/100 km (city)], [4.5 l/100 km (country)]]                 24
[\n, 5 l/100 km (comb), \n, 6.2 l/100 km (city), \n, 4.3 l/100 km (country), \n]        1
[[5.9 l/100 km (comb)], [7.6 l/100 km (city)], [5.1 l/100 km (country)]]              131
[[5.5 l/100 km (comb)], [6.1 l/100 km (city)], [4.5 l/100 km (country)]]                2
[\n, 4.3 l/100 km (comb), \n, 5.1 l/100 km (city), \n, 3.8 l/100 km (country), \n]      9
Name: Consumption, dtype: int64

## 3 NEW COLUMNS ARE MADE

In [153]:
df['Consumption_comb']=df.Consumption.map(lambda x: x[0] if type(x[0])==list and x[0]!=[] else ([x[1]] if type(x[0])!=list and "comb" in x[1] else np.nan),na_action='ignore')

In [154]:
df['Consumption_city']=df.Consumption.map(lambda x: x[1] if type(x[1])==list and x[1]!=[] else ([x[3]] if type(x[0])!=list and "city" in x[3] else np.nan),na_action='ignore')

In [155]:
df['Consumption_country']=df.Consumption.map(lambda x: x[2] if type(x[2])==list and x[2]!=[] else ([x[5]] if type(x[0])!=list and len(x)>5 and "country" in x[5] else np.nan),na_action='ignore')

In [156]:
df['Consumption_comb'].sample(5)

4655     [3.9 l/100 km (comb)]
8017                       NaN
10594    [5.5 l/100 km (comb)]
2057     [4.8 l/100 km (comb)]
8656     [3.8 l/100 km (comb)]
Name: Consumption_comb, dtype: object

In [157]:
df['Consumption_comb']=[i[0].split(' ')[0]  if type(i)==list else i for i in df['Consumption_comb']]

In [158]:
df['Consumption_comb']=df['Consumption_comb'].astype(float)

In [159]:
df['Consumption_city']=[i[0].split(' ')[0]  if type(i)==list else i for i in df['Consumption_city']]

In [160]:
df['Consumption_city']=df['Consumption_city'].astype(float)

In [161]:
df['Consumption_country']=[i[0].split(' ')[0]  if type(i)==list else i for i in df['Consumption_country']]

In [162]:
df['Consumption_country']=df['Consumption_country'].astype(float)

In [163]:
df[df['Consumption_comb'].isnull()][['Consumption_country','Consumption_city']].value_counts()

Consumption_country  Consumption_city
3.800                3.400               37
3.500                3.300               19
3.800                3.500               19
5.700                4.600               19
4.400                5.000                5
3.400                4.500                3
4.200                6.700                2
3.300                4.000                1
3.900                5.200                1
4.000                5.000                1
4.500                7.100                1
dtype: int64

In [164]:
df['Consumption_comb'].isnull().sum()

2033

In [165]:
df['Consumption_comb'].fillna((df['Consumption_country']+df['Consumption_city'])/2,inplace=True)

In [166]:
df['Consumption_comb'].isnull().sum()

1925

In [167]:
df.drop(['Consumption_country','Consumption_city'],axis=1,inplace=True)

In [168]:
df.drop('Consumption',axis=1,inplace=True)

# CO2 Emission

In [169]:
df['CO2 Emission'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n120 g CO2/km (comb)\n]      740
[[], [], []]                   628
[\n99 g CO2/km (comb)\n]       545
[\n97 g CO2/km (comb)\n]       537
[\n104 g CO2/km (comb)\n]      501
                              ...
[\n184 g CO2/km (comb)\n]        1
[\n171 g CO2/km (comb)\n]        1
[\n253 g CO2/km (comb)\n]        1
[\n1,060 g CO2/km (comb)\n]      1
[\n181 g CO2/km (comb)\n]        1
Name: CO2 Emission, Length: 123, dtype: int64

In [170]:
df['CO2 Emission']=df['CO2 Emission'].map(lambda x: x[0].strip('\n').split(' ')[0].replace(',','') if type(x[0])!=list else np.nan,na_action='ignore')

In [171]:
df['CO2 Emission'].astype(float)

0        99.000
1       129.000
2        99.000
3        99.000
4       109.000
          ...
15914   139.000
15915   168.000
15916   139.000
15917   139.000
15918   153.000
Name: CO2 Emission, Length: 15919, dtype: float64

In [172]:
df['CO2 Emission'].value_counts()

120      740
99       545
97       537
104      501
102      477
        ...
1          1
14457      1
165        1
253        1
1060       1
Name: CO2 Emission, Length: 122, dtype: int64

# Emission Class

In [173]:
df['Emission Class'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\nEuro 6\n]          10139
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [174]:
df['Emission Class']=df['Emission Class'].map(lambda x: x[0].strip('\n') if type(x[0])!=list else np.nan, na_action='ignore' )

In [175]:
df['Emission Class'].value_counts()#CATEGORIC

Euro 6          10139
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission Class, dtype: int64

## FOR COMFORT,MEDIA,EXTRAS,SECURITY COLUMNS,WE PREPARE FOR GETTING DUMMIES

# Comfort

In [176]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'hp', 'Type',
       'Previous Owners', 'Inspection new', 'Warranty', 'Body Color',
       'Paint Type', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version', 'Age',
       'Upholstery_type', 'Upholstery_color', 'Consumption_comb'],
      dtype='object')

In [177]:
df.rename(columns={'\nComfort & Convenience\n':'Comfort','\nEntertainment & Media\n':'Media','\nExtras\n':'Extras','\nSafety & Security\n':'Security'},inplace=True)

In [178]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'hp', 'Type',
       'Previous Owners', 'Inspection new', 'Warranty', 'Body Color',
       'Paint Type', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel',
       'CO2 Emission', 'Emission Class', 'Comfort', 'Media', 'Extras',
       'Security', 'description', 'Emission Label', 'Gears', 'Country version',
       'Age', 'Upholstery_type', 'Upholstery_color', 'Consumption_comb'],
      dtype='object')

In [179]:
df.Comfort.sample(5)

5935     [Air conditioning, Armrest, Cruise control, El...
12148    [Air conditioning, Armrest, Automatic climate ...
7055     [Air conditioning, Armrest, Automatic climate ...
8379     [Air conditioning, Cruise control, Electrical ...
5377     [Air conditioning, Cruise control, Navigation ...
Name: Comfort, dtype: object

In [180]:
#comfort_list=[j for i in df.Comfort.dropna() for j in i]
#set(comfort_list)
#for i in set(comfort_list):
#    df[i]=df.Comfort.str.contains(i)

In [181]:
df.Comfort=[','.join(i) if type(i)==list else i for i in df.Comfort]

In [182]:
df.Comfort.sample(5)

3886     Air conditioning,Armrest,Automatic climate con...
3052     Air conditioning,Armrest,Automatic climate con...
2351     Armrest,Electrical side mirrors,Hill Holder,Le...
12189    Air conditioning,Armrest,Automatic climate con...
11026    Air conditioning,Automatic climate control,Cru...
Name: Comfort, dtype: object

#  Media

In [183]:
df.Media.sample(5)

35       [Bluetooth, CD player, Hands-free equipment, M...
11779                                                  NaN
1320                     [CD player, Hands-free equipment]
15422    [Bluetooth, Digital radio, Hands-free equipmen...
6304     [Bluetooth, CD player, Hands-free equipment, O...
Name: Media, dtype: object

In [184]:
df.Media=[','.join(i) if type(i)==list else i for i in df.Media]

In [185]:
df.Media.sample(5)

7080                    Bluetooth,On-board computer,Radio
6175    Bluetooth,CD player,Hands-free equipment,MP3,O...
5820    Bluetooth,CD player,Hands-free equipment,On-bo...
4674    Bluetooth,Hands-free equipment,On-board comput...
8833             Bluetooth,Hands-free equipment,Radio,USB
Name: Media, dtype: object

# Extras

In [186]:
df.Extras.sample(5)

7860     [Alloy wheels, Roof rack, Touch screen, Voice ...
1477                                        [Alloy wheels]
5694                                        [Alloy wheels]
1622     [Alloy wheels, Sport package, Sport seats, Spo...
12116                                       [Alloy wheels]
Name: Extras, dtype: object

In [187]:
df.Extras=[','.join(i) if type(i)==list else i for i in df.Extras]

In [188]:
df.Extras.sample(5)

6424                  Roof rack,Trailer hitch
14161                     Catalytic Converter
4232                             Alloy wheels
787                              Alloy wheels
4733     Alloy wheels,Roof rack,Shift paddles
Name: Extras, dtype: object

# Security

In [189]:
df.Security.sample(5)

15445    [ABS, Alarm system, Blind spot monitor, Daytim...
8183     [ABS, Central door lock, Driver-side airbag, E...
9931     [ABS, Central door lock, Daytime running light...
9651     [ABS, Central door lock, Driver-side airbag, E...
13639    [ABS, Central door lock, Daytime running light...
Name: Security, dtype: object

In [190]:
df.Security=[','.join(i) if type(i)==list else i for i in df.Security]

In [191]:
df.Security.sample(5)

3537    ABS,Central door lock,Driver-side airbag,Elect...
5601    ABS,Central door lock,Driver-side airbag,Elect...
4507    ABS,Central door lock,Driver-side airbag,Elect...
418     ABS,Central door lock,Central door lock with r...
2036    ABS,Central door lock,Daytime running lights,D...
Name: Security, dtype: object

# description

In [192]:
df.description.value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 636
[\n, \n]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            30
[\nSichern Sie sich diesen Opel Astra K 1.4 SIDI Turbo Innovation Start/Stop zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt, mindestens 12 Monate gültige HU und AU,  , Highlights,  , Rückfahrkamera,  , Voll-LED-Matrix-Scheinwerfer (IntelliLux),  , Audio-Navigationssystem Navi 900 Europa Touch,  , Spurassistent,  , Leichtmetallfelgen , Komfort,  , Sitzheizung vorn,  , Klimaautomatik 2-Zonen,  , Parkpilotsystem vorn und hinten,  , 6-Stufen Automatikgetriebe,  , Tempomat (Geschwindigkeits-Regelanlage) mit Begrenzer ,  , Berganfahrassistent ,  , Servolenkung,  , Lendenwirbelstütze elektropneumatisch für Fahrer ,  , Kopfstützen vorn und hinten ,  , Multifunktionslenkrad in Leder, beheizbar ,  , Mittelarmlehne vorn verschiebbar,  , Zentralverriegelung mit Fernbedienung,  , Fensterheber elektrisch vorn + hinten,  , Berganfahr-Assistent (HSA, Hill Start Assist), Multimedia,  , 8 Zoll Touchscreen-Farbdisplay,  , Verkehrszeichenerkennung,  , Audiostreaming ,  , Apple CarPlay und Android Auto,  , 6 Lautsprecher ,  , Bluetooth-Freisprecheinrichtung ,  , Sprachsteuerung,  , Bordcomputer,  , Multimedia-Schnittstelle (USB / AUX-IN), Licht und Sicht,  , Außenspiegel elektrisch verstell-, heiz- und anklappbar,  , Abbiegelicht,  , LED Tagfahrlicht,  , Nebelscheinwerfer,  , Ambientebeleuchtung,  , Innenrückspiegel automatisch abblendend,  , Fernlichtassistent und Leuchtweitenregulierung ,  , Licht und Regensensor ,  , Wärmeschutzverglasung hinten abgedunkelt (Solar-Protect),  , LED Heckleuchten , Sicherheit,  , Abstandswarner,  , Auffahrwarnsystem,  , Isofix-Aufnahmen für Kindersitz an Rücksitz,  , Frontkamera,  , Airbag für Fahrer- und Beifahrerseite,  , Wegfahrsperre,  , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      27
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem , AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt,  , Highlights,  , Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom,  , Sportsitze ,  , Sportfahrwerk,  , Scheinwerfer Full-LED , Komfort,  , Geschwindigkeits-Regelanlage (Tempomat) ,  , Klimaanlage,  , Einparkhilfe hinten,  , Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ,  , Fensterheber elektr. mit Impulsgeber links/rechts vorn,  , Zentralverriegelung / Startanlage Handsfree Entry & Drive ,  , Berganfahr-Assistent (HSA) , Multimedia,  , Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner),  , Bordcomputer,  , Freisprecheinrichtung Bluetooth ,  , USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) , Licht und Sicht,  , Außenspiegel elektr. verstell- und heizbar ,  , Licht- und Regensensor ,  , Tagfahrlicht LED ,  , Nebelscheinwerfer LED ,  , Coming-Home-Lichtfunktion ,  , Heckleuchten LED , Sicherheit,  , Isofix-Aufnahmen für Kindersitz ,  , Seitenairbag vorn,  , Wegfahrsperre,  , Differentialsperre,  , Bremsassistent ,  , Elektron. Stabilitäts-Programm (ESP),  , Anti-Blockier-System (ABS),  , Anti-Submarining-Airbag im Fond,  , Airbag Fahrer-/Beifahrerseite ,  , Differentialsperre ,  , Reifendruck-Kontrollsystem ,  , Untersteuerungskontrolle (USC) ,  , Antischlupfregelung (ASR) , Weiteres,  , Start/Stop-Anlage ,  , Servolenkung geschwindigkeitsabhängig,  , R.S. Drive (Fahrmodusschalter) ,  , Gepäckraumabdeckung / Rollo ,  , Heckdiffusor ,  , LM-Felgen ,  , Heckspoiler (Renault Sport) ,  , Pedale Aluminium ,  , Energierückgewinnung (Energy Smart Management) , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       27
[\n, Fahrzeugbeschreibung,  Sichern Sie sich diesen Audi A1 1.4 TDI Design zum Top-Preis inklusive dem, AUTOHERO-RUNDUM-SORGLOS-PAKET,  , Infos:,  2. Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt ,  , Highlights,  , Leichtmetallfelgen,  , Sitzheizung vorn,  , Sportsitze vorn,  , Dynamik-Fahrwerk,  , Multi-Media-Interface MMI Navigation,  , Einparkhilfe hinten (APS),  , CO2-optimiert (Ausführung e, Ultra) ,  , Komfort,  , Klimaautomatik,  , Mittelarmlehne vorn mit Fach,  , Fensterheber elektrisch vorn,  , Zentralverriegelung mit Fernbedienung,  , Berganfahr-Assistent,  , Multifunktionslederlenkrad,  , Rücksitzlehne geteilt/klappbar,  , Sitze vorn höhenverstellbar ,  , Lendenwirbelstützen verstellbar ,  , Multimedia,  , Audi music interface,  , Fahrer-Informations-System (FIS),  , Bluetooth-Freisprecheinrichtung,  , Licht und Sicht,  , Außenspiegel elektrisch verstell- und heizbar, beide,  , Tagfahrlicht,  , Scheibenwaschdüsen heizbar,  , Licht- und Regensensor,  , Nebelscheinwerfer integriert,  , Wärmeschutzverglasung grün getönt,  , Heckleuchten LED,  , Sicherheit,  , Isofix-Aufnahmen für Kindersitz,  , Bremsassistent,  , Seitenairbag vorn,  , Reifenkontroll-Anzeige,  , Anti-Blockier-System (ABS),  , Wegfahrsperre (elektronisch),  , Airbag Fahrer-/Beifahrerseite,  , Antriebs-Schlupfregelung (ASR),  , Kopf-Airbag-System (Sideguard),  , Elektronische Differentialsperre (EDS),  , Elektronisches Stabilitäts-Programm (ESP),  , Weiteres,  , Start/Stop-Anlage,  , Wagenheber,  , Servolenkung,  , ...]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  ...

In [193]:
df.drop('description',axis=1,inplace=True)

# Emission Label

In [194]:
df['Emission Label'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: Emission Label, dtype: int64

In [195]:
df['Emission Label']=df['Emission Label'].map(lambda x: x[0].strip('\n').strip(' ') if type(x[0])!=list else np.nan,na_action='ignore')

In [196]:
df['Emission Label'].value_counts()

4 (Green)         3553
1 (No sticker)     381
5 (Blue)             8
3 (Yellow)           2
2 (Red)              1
Name: Emission Label, dtype: int64

In [197]:
df['Emission Label'].isnull().sum()

11974

# Gears

In [198]:
df.Gears.sample(5)

5632     [\n6\n]
1375     [\n5\n]
338      [\n7\n]
13720    [\n5\n]
9457     [\n5\n]
Name: Gears, dtype: object

In [199]:
df.Gears.map(lambda x: x[0].strip('\n'),na_action='ignore').value_counts()

6     5822
5     3239
7     1908
8      224
9        6
3        2
1        2
4        2
50       1
2        1
Name: Gears, dtype: int64

In [200]:
df.Gears=[ i[0].strip('\n') if type(i)==list else i for i in df.Gears ]

In [201]:
df.Gears.value_counts()

6     5822
5     3239
7     1908
8      224
9        6
3        2
1        2
4        2
50       1
2        1
Name: Gears, dtype: int64

In [202]:
df.Gears.isnull().sum()

4712

# Country version

In [203]:
df['Country version'].sample(5)

5369               NaN
1550               NaN
11949              NaN
2673               NaN
1493     [\nGermany\n]
Name: Country version, dtype: object

In [204]:
df['Country version']=df['Country version'].map(lambda x: x[0].strip('\n'),na_action='ignore')

In [205]:
df['Country version'].value_counts()##CATEGORIC BUT SO MANY CATEGORİZED VALUE DROP

Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Croatia              4
Slovakia             4
Sweden               3
Romania              2
Bulgaria             2
Slovenia             1
Switzerland          1
Luxembourg           1
Egypt                1
Serbia               1
Name: Country version, dtype: int64

In [206]:
df.drop('Country version',axis=1,inplace=True)

In [207]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'hp', 'Type',
       'Previous Owners', 'Inspection new', 'Warranty', 'Body Color',
       'Paint Type', 'Nr. of Doors', 'Nr. of Seats', 'Gearing Type',
       'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel',
       'CO2 Emission', 'Emission Class', 'Comfort', 'Media', 'Extras',
       'Security', 'Emission Label', 'Gears', 'Age', 'Upholstery_type',
       'Upholstery_color', 'Consumption_comb'],
      dtype='object')

In [208]:
df.head(5)

,make_model,body_type,price,vat,km,hp,Type,Previous Owners,Inspection new,Warranty,Body Color,Paint Type,Nr. of Doors,Nr. of Seats,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,CO2 Emission,Emission Class,Comfort,Media,Extras,Security,Emission Label,Gears,Age,Upholstery_type,Upholstery_color,Consumption_comb
0,Audi A1,Sedans,15770,VAT deductible,56013.000,66.000,Used,2.000,Yes,NaN,Black,Metallic,5,5,Automatic,1422.000,3,1220.000,front,Diesel,99,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Catalytic Converter,Voice Control","ABS,Central door lock,Daytime running lights,D...",NaN,NaN,3.000,Cloth,Black,3.800
1,Audi A1,Sedans,14500,Price negotiable,80000.000,141.000,Used,NaN,NaN,NaN,Red,NaN,3,4,Automatic,1798.000,4,1255.000,front,Gasoline,129,Euro 6,"Air conditioning,Automatic climate control,Hil...","Bluetooth,Hands-free equipment,On-board comput...","Alloy wheels,Sport seats,Sport suspension,Voic...","ABS,Central door lock,Central door lock with r...",4 (Green),7,2.000,Cloth,Grey,5.600
2,Audi A1,Sedans,14640,VAT deductible,83450.000,85.000,Used,1.000,NaN,NaN,Black,Metallic,4,4,Automatic,1598.000,NaN,NaN,front,Diesel,99,Euro 6,"Air conditioning,Cruise control,Electrical sid...","MP3,On-board computer","Alloy wheels,Voice Control","ABS,Central door lock,Daytime running lights,D...",4 (Green),NaN,3.000,Cloth,Black,3.800
3,Audi A1,Sedans,14500,None,73000.000,66.000,Used,1.000,NaN,NaN,Brown,Metallic,3,4,Automatic,1422.000,3,1195.000,NaN,Diesel,99,Euro 6,"Air suspension,Armrest,Auxiliary heating,Elect...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport seats,Voice Control","ABS,Alarm system,Central door lock with remote...",NaN,6,3.000,NaN,NaN,3.800
4,Audi A1,Sedans,16790,None,16200.000,66.000,Used,1.000,Yes,NaN,Black,Metallic,5,5,Automatic,1422.000,3,NaN,front,Diesel,109,Euro 6,"Air conditioning,Armrest,Automatic climate con...","Bluetooth,CD player,Hands-free equipment,MP3,O...","Alloy wheels,Sport package,Sport suspension,Vo...","ABS,Central door lock,Driver-side airbag,Elect...",NaN,NaN,3.000,Cloth,Black,4.100

In [209]:
df.to_csv('cleaned_AutoScout.csv',index=False)