In [2]:
import pandas as pd
from scipy import stats
import numpy as np

## One Sample T Test

- According to Reynolds Intellectual Ability Scales, the average VIQ (Verbal IQ scores based on the four Wechsler (1981) subtests) is about 109.

- In our sample data, we have a sample of 40 cases. 
- Let's test if the average VIQ of people is significantly bigger than 109.

In [2]:
# Brain size and weight and IQ data (Willerman et al. 1991)

In [4]:
df = pd.read_csv("brain_size.csv", sep=";", na_values = ".", index_col = 0)
df.head()

   Gender  FSIQ  VIQ  PIQ  Weight  Height  MRI_Count
1  Female   133  132  124   118.0    64.5     816932
2    Male   140  150  124     NaN    72.5    1001121
3    Male   139  123  150   143.0    73.3    1038437
4    Male   133  129  128   172.0    68.8     965353
5  Female   137  132  134   147.0    65.0     951545

In [ ]:
#H0:mu0=109
#H1:mu0>109

In [8]:
df["VIQ"].mean()

112.35

In [9]:
df["VIQ"].std()

23.616107063199735

In [6]:
t_test=(df["VIQ"].mean()-109)/(df["VIQ"].std()/np.sqrt(df.shape[0]))
t_test

0.8971529586323553

In [8]:
oneSamp=stats.ttest_1samp(df["VIQ"],109,alternative="greater")
oneSamp

Ttest_1sampResult(statistic=0.897152958632355, pvalue=0.1875711592925718)

In [14]:
#p_value

1-stats.t.cdf(t_test,df.shape[0]-1)

0.18757115929257173

In [19]:
alpha=0.05
if oneSamp.pvalue<alpha:
    print("Reject the Null")
else:
     print("Fail to reject")

Fail to reject

# Independent Samples T Test

## Arsenic Example

- Arsenic concentration in public drinking water supplies is a potential health risk. 
- An article in the Arizona Republic (May 27, 2001) reported drinking water arsenic concentrations in parts per billion (ppb) for 10 metropolitan Phoenix communities and 10 communities in rural Arizona.
- You can find the data in CSV file.

In [20]:
df1 = pd.read_csv("arsenic.csv", sep=",", na_values = ".", index_col = 0)
df1.head()

               x1    Rural Arizona  x2
Metro Phoenix
Phoenix         3          Rimrock  48
Chandler        7         Goodyear  44
Gilbert        25        New River  40
Glendale       10  Apache Junction  38
Mesa           15          Buckeye  33

In [21]:
df1["x1"].mean()

12.5

In [23]:
df1["x2"].mean()

27.5

Calculate the T-test for the means of two independent samples of scores.

In [ ]:
#H0:mu1=mu2
#H1:mu1!mu2

In [29]:
indTest=stats.ttest_ind(df1["x1"],df1["x2"])
indTest

Ttest_indResult(statistic=-2.7669395785560553, pvalue=0.012704425122128032)

In [26]:
alpha=0.05
if indTest.pvalue<alpha:
    print("Reject the Null")
else:
     print("Fail to reject")

Reject the Null

In [30]:
stats.t.ppf(0.025,18) #n1+n2-1=18 two tailed olduğu için 0.05/2=0.025

-2.10092204024096

# Prozac Data

- Let us consider a simple example of what is often termed "pre/post" data or "pretest/posttest" data. 
- Suppose you wish to test the effect of Prozac on the well-being of depressed individuals, using a standardised "well-being scale" that sums Likert-type items to obtain a score that could range from 0 to 20. 
- Higher scores indicate greater well-being (that is, Prozac is having a positive effect). 
- While there are flaws in this design (e.g., lack of a control group) it will serve as an example of how to analyse such data.

Determine if Prozac enhances well-being in depressed individuals. Use   0.05

In [32]:
df2 = pd.read_csv("prozac.csv", sep=",", na_values = ".")
df2.head()

   moodpre  moodpost  difference
0        3         5           2
1        0         1           1
2        6         5          -1
3        7         7           0
4        4        10           6

In [ ]:
#H0:d_bar=0
#H1: d_bar>0 post-pre son testten ilk test çıkacak ptyhonda

In [35]:
paired=stats.ttest_rel(df2.moodpost,df2.moodpre,alternative="greater")

In [36]:
paired.pvalue

0.006872912197394244

In [37]:
alpha=0.05
if paired.pvalue<alpha:
    print("Reject the Null")
else:
     print("Fail to reject")

Reject the Null